body{
    background-color: #dfe4e6;
}

div#formulario{
    width: 42%;
    height: 327px;
    margin: 0 auto;
    margin-top: 0%;
}

div#imgsetup img{
    height: 105px;
    width: 277px;
    position: absolute;
    top: 13%;
    left: 41%;
    margin-top: -50px;
    margin-left: -50px;
}

div#faixa{
    height: 26%;
    width: 100%;
    background-color: #313b3f;
}

table#ChamadoTable td{
    padding: 1px;
}